{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>
		<h2>
			Nos produits phares !
		</h2>
		{% for product in products %}
			<div class="card" style="width: 18rem;">
<img src="{{ asset('images/' ~ product.image) }}" class="card-img-top w-75 d-flex justify-content-center align-items-center mx-auto" alt="sweat noir à capuche">

				<div class="card-body">
					<h5 class="card-title">{{ product.name }}</h5>
					<p class="card-text">
						{{ product.price }}
						€</p>
					<p>Tailles disponibles :
						{% for size in product.sizes %}
							{{ size.name }}
							{% if not loop.last %},
							{% endif %}
						{% endfor %}
					</p>
					<a href="{{ path('product', {id: product.id}) }}" class="btn btn-primary">Voir</a>
				</div>
			</div>
		{% endfor %}
	</div>
</div>{% endblock %}
