{% extends 'base.html.twig' %}

{% block title %}Produits
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>

	<div>
		<form method="get" action="{{ path('products') }}" class="mb-4">
			<label for="price_range">Filtrer par prix :</label>
			<select name="price_range" id="price_range" class="form-select w-auto d-inline-block">
				<option value="">Tous les prix</option>
				<option value="10-29" {% if app.request.query.get('price_range') == '10-29' %} selected {% endif %}>10 à 29 €</option>
				<option value="29-35" {% if app.request.query.get('price_range') == '29-35' %} selected {% endif %}>29 à 35 €</option>
				<option value="35-50" {% if app.request.query.get('price_range') == '35-50' %} selected {% endif %}>35 à 50 €</option>
			</select>
			<button type="submit" class="btn btn-primary">Filtrer</button>
		</form>

		<div class="container mt-5">
			<div class="row gap-3 d-flex justify-content-center align-items-center">
				{% for product in products %}
					<div class="card" style="width: 18rem;">
						<img src="{{ asset('images/' ~ product.image) }}" class="card-img-top w-75 d-flex justify-content-center align-items-center mx-auto" alt="sweat noir à capuche">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text text-end">
								{{ product.price }}
								€
							</p>
							<a href="{{ path('product', {id: product.id}) }}" class="btn btn-primary">Voir</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
